.container {
    color: white;
    text-align: center;
}
.bodyBg{
    background-color: rgba(122, 122, 122, 0.39);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(images/galaxy.gif);
}

